<header>
  <img
  src="assets/img/avatar.jpg"
  alt="Avatar Foto de Perfil"
  width="130px"
  height="130px"
  loading="eager"
  />
  <h1>Weksley Lima</h1>
</header>

<aside>
  <div class="container">
    <p>ANGULAR | HTML</p>
    <p>Curitiba, Paraná, Brasil</p>
    <p>
      Atualmente, estou trabalhando como Suporte de T.I. No entanto, em 2024, dei meus primeiros passos na área de desenvolvimento e decidi me especializar como Front End.
    </p>
    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download CV
          </a>
        </li>
        <li>
          <a href="https://br.linkedin.com/in/weksley-augustinho-lima-80400b193" target="_blank" class="btn btn-secondary">
            LinkedIn
          </a>
        </li>
      </ul>
      </nav>
    <section>
      <figure>
        <img src="assets/icons/whatsapp.svg"
             alt="Icone para contato do whatsapp"
             width="22px"
             height="24px"
        />
        <figcaption>
          <a href="https://api.whatsapp.com/send?phone=4184320473"
          target="_blank">
            <strong>Envie uma mensagem para: </strong>
            <p>(41) 98432-0473</p>
          </a>
        </figcaption>
      </figure>
      <figure>
        <img src="assets/icons/mail.svg"
             alt="Icone para contato do email"
             width="22px"
             height="24px"
        />
        <figcaption>
          <a href="mailto:"
             target="_blank">
            <strong>Envie um email para: </strong>
            <p>weksley17&#64;hotmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
